.root {
  background-color: #dd4c39;
  display: inline-block;
  padding: 0.25em 0.5em;
  color: white;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: darken(#dd4c39, 10%);
  }
}
