.root {
  // font-family: avenir;
  // font-weight: bolder;
  // border: solid red thin;
  background-color: #dd4c39;
  // width: 6em;
  display: inline-block;
  padding: 0.25em 0.5em;
  color: white;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: darken(#dd4c39, 10%);
  }
}
