.list {
  list-style-type: none;
  justify-self: center;
  @media (min-width: 768px) {
    // start nav at gc 3 span 4
    grid-column: 3 / span 4;
    justify-self: end;
  }
  li {
    display: inline-block;
    margin: 0 1em;
  }
}
